<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>CIBIL (CONTACT-US)</title>
<link th:href="@{/img/favicon.ico}" rel="shortcut icon" />
<link rel="stylesheet" type="text/css" th:href="@{/css/ssp.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

<script type="text/javascript" th:src="@{/js/common_consumer_util.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/general.js}"></script>
<script type="text/javascript" th:src="@{/js/common_consumer_util.js}"></script>

<!-- <script type="text/javascript" th:src="@{/js/jquery-1.12.1ui.min.js}"></script>
 -->
 <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>


</head>
<body onload="Captcha();">
<div class="wrapper anim">
	<div class="header">
		<div class="logo"><img th:src="@{/img/logo.png}" title="" alt="CIBIL - Empowering You" aria-describedby="ui-id-6"></div>
	   <div class="clear"></div>
	</div>
	
		
		<div class="clear"></div>
<div class="container">
	<div class="lastStepContent">
		<div class="stepFlow">
			<div class="breadcrum"> <span class="level_1A" style="font-size:16px;font-weight: bold;" th:text="${level1}"></span> <span class="level_2A" style="font-size:16px;font-weight: bold;" th:text="${level2}"></span> <span class="level_3A" style="font-size:16px;font-weight: bold;" th:text="${level3}"></span> </div>
		</div>
		<div class="form_box gray_gradiant">
			<div class="madatory"><span style="color:red"><b>All fields marked with (*) are mandatory</b></span></div>
			<br>
			
			<br>
			<div id="divTag">
			<div  class="alert alert-danger"  id="settimeout"  style="display:none">
			
			<span id="errorSR" style="color:black;margin-left:15px;font-weight:bold;display: block;"></span>
			<span id=errorEmail style="color:black;margin-left:15px;font-weight:bold;display: block;"></span>
			<span id="errordesc" style="margin-left:15px;font-weight:600;font-size:13px;display: block;"></span>
			
			</div>
			<div class="alert alert-danger"  id="settimeout" th:if="${errorMessageList}">
    		<ul><li  style="list-style:none;"  th:each="err : ${errorMessageList}" th:text="${err}" class="error"></li></ul> 
		</div>
				<form th:action="@{/ogpno/saveSrDetailsOGPNO}" method="post" th:object="${grevience}" enctype="multipart/form-data" id="form2" name="form2" onsubmit="return validateForm2()">

					<div class="row">
					
    					<input type="hidden" id="hiddenTemplateCode" value="codetest" th:field="*{templateCode}" readonly/>
    					<input type="hidden" th:field="*{emailOrMobNumber}" readonly/>
    					<input type="hidden" th:field="*{disputeOrSrId}" readonly/>
					
						<div class="col-sm-3">
							<div class="field_name">Email ID<span style="color:red">*</span></div>
						</div>
						<div class="col-sm-6">
							<div class="input-group mb-3">
								<!-- <input type="email" class="form-control" autocomplete="off" required name="email" th:value="${existingSr.emailId}" value="" id="email" th:readonly="readonly" th:disabled="disabled"> -->
								
								<label class="form-control" th:text="${grevience.emailOrMobNumber}"></label>
								
								<!-- <div class="input-group-append"> <span class="input-group-text" id="basic-addon1"><img th:src="@{/img/info_ic.png}" style="height:15px" class="info_ic" 
	    			th:title="${@environment.getProperty('ticker.form1.email.id')}"></span> </div> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="field_name">Service Request Number<span style="color:red">*</span></div>
						</div>
						<!--  <div class="col-sm-3">
 					<div class="input-group mb-3">
				       		
  				     <input type="number" autocomplete="off"  name="servicerequest" th:value="${existingSr.existingSrNumber}" value="" id="servicerequest" >

					</div>
 				</div> -->
						<div class="col-sm-6">
							<div class="input-group mb-3">
							
			<!-- <input type="number" autocomplete="off"   class="form-control"  name="servicerequest" th:value="${existingSr.existingSrNumber}" value="" id="servicerequest"
			
				 min="1111" max="99999999" oninvalid="this.setCustomValidity('Enter Valid Service Request.Service Request should be between 4 to 8 digits')"
					  oninput="this.setCustomValidity('')" th:readonly="readonly" th:disabled="disabled"> -->
					  
					  <label class="form-control" th:text="${grevience.disputeOrSrId}"></label>
							
								<!-- <div class="input-group-append"> <span class="input-group-text" id="basic-addon1">
<img th:src="@{/img/info_ic.png}" style="height:14px" class="info_ic" th:title="${@environment.getProperty('ticker.service.request')}"></span> </div> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 ">
							<div class="field_name">Describe your query<span style="color:red">*</span></div>
						</div>
						<div class="col-sm-9">
							<div class="input-group mb-12">
								<textarea required style="width:80%;margin-top:1px;font-size:14px;" rows="5" th:field="*{describeQuery}" class="no_anim" maxlength="3000" id="textareadesc"
								oninvalid="this.setCustomValidity('Please specify your query')"  oninput="this.setCustomValidity('')"></textarea>
								<div class="input-group-append"> <span class="input-group-text" id="basic-addon1">
<img th:src="@{/img/info_ic.png}" style="height:14px" class="info_ic" th:title="${@environment.getProperty('ticker.describe.query.cons.common')}"></span> </div>
							</div>
							<div class="word_remain">Remaining Characters : <span id="remain-description" class="safe" style="color:red;"></span> </div>
						</div>
					</div>
					<div class="row">
						<div class="infos_box col-sm-12 col-sm-12">
							<br>
							<div style="font-weight:700;font-size:16px;"><strong class="attachment_header_desc">Upload Document</strong></div>
							<br>
							<div id="p1"><span id="customFileError" style="color:red;margin-left:15px;font-weight:bold;display: block;"></span>
								<label class="form-label" for="customFile"></label>
								<input onchange="ValidateSize(this)" type="file" accept=".jpg, .jpeg, .png, .pdf" th:field="*{attachment1}" class="form-control" id="customFile" style="width:58%;height:35px;display: inline-block;" /> <img th:src="@{/img/add_btn.png}"onclick="document.getElementById('p2').style.display='block'" id="img1" title="Add more document"> </div>
							<br>
							<div id="p2" style="display:none;"><span id="customFile1Error" style="color:red;margin-left:15px;font-weight:bold;display: block;"></span>
								<label class="form-label" for="customFile"></label>
								<input onchange="ValidateSize(this)" type="file" accept=".jpg, .jpeg, .png, .pdf" th:field="*{attachment2}" class="form-control" id="customFile1" style="width:58%;height:35px;display: inline-block;" /> <img th:src="@{/img/add_btn.png}" onclick="document.getElementById('p3').style.display='block'" id="img2"  title="Add more document"> <img th:src="@{/img/remove_btn.png}" id="removeImage2" onclick="document.getElementById('p2').style.display='none'" title="Remove document"> </div>
							<br>
							<div id="p3" style="display:none;"><span id="customFile2Error" style="color:red;margin-left:15px;font-weight:bold;display: block;"></span>
								<label class="form-label" for="customFile"></label>
								<input onchange="ValidateSize(this)" type="file" accept=".jpg, .jpeg, .png, .pdf" th:field="*{attachment3}" class="form-control" id="customFile2" style="width:58%;height:35px;display: inline-block;" /> <img th:src="@{/img/add_btn.png}"  id="img3"  onclick="document.getElementById('p4').style.display='block'" title="Add more document"> <img th:src="@{/img/remove_btn.png}" id="removeImage3" onclick="document.getElementById('p3').style.display='none'" title="Remove document"> </div>
							<br>
							<div id="p4" style="display:none;"><span id="customFile3Error" style="color:red;margin-left:15px;font-weight:bold;display: block;"></span>
								<label class="form-label" for="customFile"></label>
								<input onchange="ValidateSize(this)" type="file" accept=".jpg, .jpeg, .png, .pdf" th:field="*{attachment4}" class="form-control" id="customFile3" style="width:58%;height:35px;display: inline-block;" /> <img th:src="@{/img/add_btn.png}" id="img4"  onclick="document.getElementById('p5').style.display='block'"   title="Add more document"> <img th:src="@{/img/remove_btn.png}" id="removeImage4"  onclick="document.getElementById('p4').style.display='none'"  title="Remove document"> </div>
							<br>
							<div id="p5" style="display:none;"><span id="customFile4Error" style="color:red;margin-left:15px;font-weight:bold;display: block;"></span>
								<label class="form-label" for="customFile"></label>
								<input onchange="ValidateSize(this)" type="file" accept=".jpg, .jpeg, .png, .pdf" th:field="*{attachment5}" class="form-control" id="customFile4" style="width:58%;height:35px;display: inline-block;" /> <img th:src="@{/img/add_btn.png}" id="img5" title="Add more document"> <img th:src="@{/img/remove_btn.png}" id="removeImage5" onclick="document.getElementById('p5').style.display='none'" title="Remove document"> </div>
						</div>
					</div>
<div class="row">
	<div style="padding:0 20px;">
								<p class="attachment_header_desc"><strong>
								When uploading documents, please note the following :
								</strong></p>
								<ul class="attachement_desc">
								<li>Ensure the documents are not password-protected.</li>
								<li>Upload latest address proof wherein address and transactions are not older than 3 months from current date.</li>
								<li>Upload documents with extension as PNG, JPG, JPEG, PDF etc.</li>
								<li>Max. file size is 5MB per upload.</li>
								<li>Max. 5 Attachments are permitted at a time.</li>
								</ul>
						</div>
					
</div>
<div class="row">
 <div>
                              <img  id="captchaImage" th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"  /> 
                                      <img th:src="@{/img/refreshCaptcha.png}" style="margin-left:10px;height:20px" 
                            id="refreshButton" title="Refresh Captcha.">
                            	<input id="hiddenCaptchaText"  type="hidden" th:field="*{hiddenCaptcha}" />
                            	<input id="captchaImageSource" type="hidden" th:field="*{realCaptcha}" />
                            </div>
                            <div class="clear" style="height:10px;"></div>
                             <div class="col">
                            <p><span  id="errorCaptchaMessage"  th:if="${errorMessage}"  th:text="${errorMessage}" style="color:red;">Error</span></p>
                            <p style="font-size:11px; margin-bottom:3px;font-weight: bold;">Enter the characters shown in the image<span style="color:red">*</span>
                            
							<input type="text" autocomplete="off" class="form-control" name="kaptcha" minlength="5" maxlength="5" required th:field="*{captcha}"  oninvalid="this.setCustomValidity('Please mention the characters as shown in the image')"  oninput="this.setCustomValidity('')"  value="" id="kaptcha" style="max-width:180px;" >
							</div>
							
</div>
					
<div class="row">
						<div class="col-sm-4"> </div>
						<div class="col-sm-2">
							<input type="submit" 
							 id="form2Submit" 
							 value="Submit" class="o_btn submit" /> </div>
							

				</form>
				
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="page-footer" >© 2020 Copyright:
     COPYRIGHT 2016 TRANSUNION CIBIL LIMITED (FORMERLY: CREDIT INFORMATION BUREAU (INDIA) LIMITED) ALL RIGHTS RESERVED.

	<div class="footer-links">
		<ul class="column">
		<!-- 	<li class="footer-item footer-item-col-1 footer-item-row-1"><a href="#">PRIVACY</a></li>
			<li class="footer-item footer-item-col-1 footer-item-row-2"><a href="#">SITEMAP</a></li>
			<li class="footer-item footer-item-col-1 footer-item-row-3"><a href="#">SUIT FILED CASES</a></li> -->
			<li class="footer-item footer-item-col-1 footer-item-row-4"><a th:href="${@environment.getProperty('redirect.termsAndConditions.page.url')}" >TERMS AND CONDITIONS</a></li>
			</ul>
	</div>
	
  </div>
</div>
		
<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span><ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-2" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span><div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div><script></script><div role="tooltip" class="ui-tooltip ui-widget ui-corner-all ui-widget-content" id="ui-id-6" style="top: 115px; left: 167px; display: block; opacity: 0;"><div class="ui-tooltip-content">CIBIL - Empowering You</div></div></body></html>
